projectone/.vs/projectone/xs/UserPrefs.xml
projectone/oneapp/obj/oneapp.csproj.nuget.dgspec.json
projectone/oneapp/obj/Debug/net6.0/oneapp.AssemblyInfoInputs.cache
projectone/oneapp/obj/Debug/net6.0/oneapp.csproj.AssemblyReference.cache
projectone/oneapp/obj/Debug/net6.0/oneapp.csproj.CoreCompileInputs.cache
projectone/oneapp/obj/Debug/net6.0/oneapp.dll
projectone/.vs/projectone/xs/project-cache/oneapp-Debug.json
