<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3c10aefd-0aa4-481a-b8e6-429494f2b5f7/resourceGroups/communityApp/providers/Microsoft.Web/sites/makeitpossible</ResourceId>
    <ResourceGroup>communityApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://makeitpossible.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://makeitpossible.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$makeitpossible</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>